mkdocs
mkdocs-material
mkdocs-mermaid2-plugin
mkdocs-ezlinked-plugin
mkdocs-literate-nav
mkdocs-section-index
mdx_breakless_lists
mkdocs-preview-links-plugin
mkdocs-embed-file-plugins
Markdown
mkdocs-roamlinks-plugin
PyYAML==6.0
setuptools==78.1.1
obsidiantools
pyvis